/* ==========================================================================
   General Styles
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: #f0f0f0; /* Light gray background */
  margin-left: 50px;
  margin-right: 50px;
  align-content: center;
  font-family: Verdana, Geneva, sans-serif; /* General font for body */
}
header {
  position: fixed;
}

button {
  border: 1px solid #888888;
  border-radius: 2px;
  padding: 20px;
  font-size: 0.8em;

}



/* ==========================================================================
   Header and Navigation
   ========================================================================== */

.topmenu {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  gap: 10px;
  padding: 20px 40px ;
  align-items: center;
  top: 0;
  background-color: white; /* Header background color */
}





#myTopnav a {
  background-color: white;
  color: black;
  text-align: center;
  padding: 10px 20px; /* Button padding */
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s; /* Transition effects */
}

#myTopmenu a:hover {
  background-color: darkgray; /* Background on hover */
  color: white; /* Text color on hover */
}

#myTopnav a:active {
  background-color: #04AA6D; /* Active link color */
  color: white;
  text-decoration: none;
  aria-current="page";
}

/* ==========================================================================
   Search Container
   ========================================================================== */
.searchcontainer {
  display: flex;
  gap: 10px;
  position: fixed;
  top: 100px; /* Space below the navigation bar */
  width: 800px; /* Search container width */
}

#searchbar {
  border-radius: 50px;
  border: 1px solid #999; /* Border style */
  padding: 10px;
  flex: 1; /* Takes available space */
}

#btn {
  background-color: lightgray ;
  color: black;
  padding: 10px 20px; /* Button padding */
}

#btn a:hover {
  background-color: #193520;
  color: white;

}

/* ==========================================================================
   Product display
   ========================================================================== */
#product-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  background-color: red;
  p {
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
  }


}

.product-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 310px;
  background-color: white;
  padding: 10px;
  img {
    max-width: 80%;
    max-height: 60%;

  }
}
.add-to-favorites {
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: #af1c41;
  border: none;
  border-radius: 50px;
  padding: 10px;

}

/* ==========================================================================
   Typography
   ========================================================================== */

h1 {
  font-size: 1.5em; /* Main title size */
}

h2 {
  font-size: 1.2em; /* Subtitle size */
}

h3 {
  font-size: 0.8em; /* Header size */
}

p {
  font-size: 0.8em; /* Paragraph size */
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  position: fixed;
  background-color: #e2e2e2;
  padding: 5px;

}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 600px) {
  #myTopnav a:not(:first-child) {
    display: none; /* Hide links except "Home" */
  }

  #myTopnav.responsive {
    position: relative;
  }

  #myTopnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  #myTopnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

